# Ignore everything
*

# Allow files and directories
!/requirements.tools.txt
!/requirements.txt
!/lileg_search_bot.py

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/.env
