langdetect

pypdf
playwright
unstructured

youtube-transcript-api

# fastapi
# poppler-utils
# python 3.13 not compatible
# tesseract-ocr
# pygraphviz
#

# matplotlib
# PyQt6
# jupyterlab
# tqdm
# aiohttp