langdetect

pypdf
playwright
unstructured

# https://github.com/langchain-ai/langchain/issues/30309
youtube-transcript-api==0.6.3
pytube

# fastapi
# poppler-utils
# python 3.13 not compatible
# tesseract-ocr
# pygraphviz
#

# matplotlib
# PyQt6
# jupyterlab
# tqdm
# aiohttp